$page-whitespace: 24px;
// $page-whitespace: 136px;


$spacing-unit--small: 10px;

$border-radius: 3px;

$page-whitespace-indent: $page-whitespace*10;
// $page-whitespace-indent: 240px;

$page-top-bottom-padding: 100px;
$section-bottom-padding: 80px;

$elem-whitespace: 20px;