form {
  max-width:100%;
}

label,
[type=color], 
[type=date], 
[type=datetime-local], 
[type=datetime], 
[type=email], 
[type=month], 
[type=number], 
[type=password], 
[type=search], 
[type=tel], 
[type=text], 
[type=time], 
[type=url], 
[type=week], 
textarea {
  width: 100%;
  display: block;
  margin-bottom:$spacing-unit--small;
}

[type=color], 
[type=date], 
[type=datetime-local], 
[type=datetime], 
[type=email], 
[type=month], 
[type=number], 
[type=password], 
[type=search], 
[type=tel], 
[type=text], 
[type=time], 
[type=url], 
[type=week], 
textarea {
  padding:10px;
  color:$bodyColour;
}

[type=color], 
[type=date], 
[type=datetime-local], 
[type=datetime], 
[type=email], 
[type=month], 
[type=number], 
[type=password], 
[type=search], 
[type=tel], 
[type=text], 
[type=time], 
[type=url], 
[type=week], 
textarea 
fieldset {
  border:1px solid $bodyColour;
}

[type=button],
[type=submit],
[type=reset] {
@include font-size($global-font-size);
padding: $spacing-unit--small;
display:inline-block;
outline:none;
border:none;
vertical-align: middle;
text-align: center;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    line-height: 1;
}
