.articles {margin-top:80px; margin-bottom:80px;}


nav.articles ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

@media (min-width: 50.125em) {
  nav.articles ul {
    border-top: 1px solid #F8D43C;
    display: -ms-flexbox;
    display: flex; } }

nav.articles ul li {
  position: relative;
  padding: 10% 7%;
  display: block;
  border-top: 1px solid #F8D43C; }

nav.articles ul li::before {
  display: none; }

@media (min-width: 50.125em) {
  nav.articles ul li {
    width: 50%;
    border-top: none;
    border-right: 1px solid #F8D43C; }
  nav.articles ul li:last-child {
    border-right: none; } }

nav.articles ul li .content {
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease; }

nav.articles ul li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50; }

nav.articles li:hover {
  background: #F8D43C;
  color: black; }

nav.articles li a:hover h3 {
  color: black;
  position: relative; }

p.categories, time {
  color: black;
  font-size: .75em; }

nav.articles ul li p.categories, nav.articles ul li time {
  display: block;
  margin-bottom: 1.5rem; }

nav.articles ul li a:hover * {
  color: black; }
