	.header,
	.primary-navigation li {
		text-align:center;		
	}
@include mq($until: tablet) {
body {
	margin-top:100px;
}
	.header {
		padding:15px 0;
		top:0;
		position: fixed;
		display: block;
		width:100%;
		background:white;
		border-bottom:1px solid rgba(0,0,0,0.2);
	  z-index: 5000; 
	}
	.menu-button {
	position: absolute;
		top:50%;
		right:25px;
		transform: translateY(-50%);

		@include attention() {
			text-decoration: none;
		}

	}

	.menu-button span {
		display: block;
		margin:0 auto;
		margin-bottom: 10px;
	}

	.menu-button span:last-child {
		margin-bottom: 0;
	}

	header a {
			color: $bodyColour;
			@include font-weight(light);
	}


	.header nav {
		transform: scale(0);
		opacity:0;
		position: fixed;
		top:0;
		left:0;
		display:table;
		height:100%;
		width:100%;
		margin:0;
		background:$brandColour;
		@include font-size($global-font-size);
		padding-top:10px;
		transition: opacity 0.25s ease;
	}

	.header nav ul {
		transition: all 1 ease;
		display: table-cell;	
	}

	.nav--open .header nav ul {
		vertical-align: middle;
		& li {
			margin-bottom:20px;
			&:last-child {
				margin-bottom:0;
			}	
		}
	}

	.logo {
		width:75px;

@include mq(tablet){
		width:75px;
}
@include mq(desktop){
		width:75px;
}
		display: block;
		
		& img {
			width:100%;
		}

	}

	body.nav--open {
		overflow: hidden;
		height:100%;

	}

	.nav--open .header nav  {
		transform: scale(1);
		opacity:1;
	}

	.nav--open .header .logo,
	 .nav--open .menu-button {
		z-index:400;
	}
	.nav--open .header .logo {
		position: relative;
}
	.menu-icon {
		@include burger(25px, 3px, 5px, $bodyColour);
		display: block;
	}

	.menu-button.is-active .menu-icon {
		@include burger-to-cross;
	}

}



// // // Grid
@include mq(tablet) {


	.menu-button {
		display: none;
	}

	.header,
	.primary-navigation li {
		text-align:center;		
	}

	.primary-navigation a {
		color:$bodyColour;
		@include font-weight(light);

		@include attention() {
			transition:border .25s ease;
			text-decoration: none;
			padding-bottom:5px;
			border-bottom:1px solid black;
		}

&.active {
			transition:border .25s ease;
			text-decoration: none;
			padding-bottom:5px;
			border-bottom:1px solid black;


		@include attention() {
			transition:border .25s ease;
			text-decoration: none;
			padding-bottom:5px;
			border-bottom:1px solid black;
		}

	
}
	}

	.primary-navigation li {
		margin-right:20px;

		&:last-child {
			margin-right:0;
		}

	}

	.header .content-container {
		padding: 3.75em 1.5em;
	}

	.header::after {
		content: "";
		width:100px;
		height:5px;
		background:$brandColour;
		position: absolute;
		top:0;
		left:50%;
		transform: translate(-50%, -0);		
	}
	
	.fixed-scroll {
	  position: fixed;
	  padding: 10px 0;
	  margin:0;
	  top: 0;
	  right: 0;
	  width: 100%;
	  background: white;
	  border-bottom:1px solid black;
	  color: white;
	  display: block;
	  z-index: 5000; 
	}

	.fixed-scroll  li a::after {
	  border-color: white; 
	}
}

@include mq(tablet){
.header nav {
	margin-top: 20px
}
.header .fixed-scroll {
	margin-top: 0;
	padding-bottom: 0;
	padding-top:20px;
}
}


