
.home.services {
	// background: red;
position: relative;
color:black;
@include mq(tablet){
color:white;
}
}
.service-image {
	padding-top: 20px;
@include mq(tablet){

	padding-top:80px;
}
	z-index: 300;
}

@include mq(tablet){

.home.services .section-title {
	position: absolute;
	top:30px;
	left:40px;
	z-index: 30;
}
}



.service-image div {
  background: #F8D43C;
  padding: 40px;
@include mq(tablet){
  // padding-left: 70px;
  max-width: 75%;
  margin-top: 0;
}

@include mq(desktop){
  // padding-left: 270px;
  max-width: 40vw;
  // max-width:50%;
  margin-top: 80px;

}
  display: block;
  overflow: hidden;
  height: 100%;
  clear: both;
  float: left;
  position: relative; 
color:black;
}


  // .service-image div span.numeral {
  // color: rgba(0, 0, 0, 0.05);
  // font-size: 3em;
  // /* border-bottom: 5px solid rgba(0,0,0,.1); */
  // display: inline-block;
  // padding-bottom: 0px;
  // position: absolute;
  // top: 85px;
  // left: 80px;
  // /* font-family: baskerville; */ }

.service-image div span.title {
  display: block;
  width: 100%;
  padding-top: 0;
  font-size: $global-font-size;
  margin-bottom: 20px; }

.service-image div p {
  font-size: $global-font-size / 1.25;
  font-weight: 100;
  margin-top: 0; }
.slideshow {
  margin-bottom: 40px;
  width: 100%;
  min-height: 100%; }
.slideshow-wrapper {
  display: block;
  vertical-align: baseline; }
.slideshow-wrapper {
  display: block;
  vertical-align: baseline; }

.menu {
  display: block;
	margin-top: 20px;
 // @include mq(tablet){
	// // margin-top: 410px;
 //  position: absolute;
 //  right: 0;
 // padding: 80px;}
@include mq(tablet){
	margin-top: 20px;
	position: absolute;
	right: 0;
	left:-35px;
	padding: 80px;

}

@include mq(desktop){
	left: auto;
	margin-top: 410px;
	position: absolute;
	right: 0;
	padding: 80px;

}
   }

.menu a {
  display: block;
  padding-bottom: 20px;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  font-weight: 900;
  text-transform: uppercase; }

.menu a.active {
  color: $brandColour;
  transition: all 0.25s ease; }

.padding-bottom-30 {
  padding-bottom: 30px; }


.home.services {
  position: relative; }

.menu {
  z-index: 2; }


.service-image {
  opacity: 0;
  padding-top: 20px;

@include mq(tablet){
  padding-top: 300px;
}
@include mq(desktop){
  padding-top: 420px;
}
  margin-bottom: 20px;
  overflow: hidden;
  width: 1440px;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 999;
  opacity: 1; 
}

@include mq($until: tablet){
.home.services .section-title {
	margin: 0 40px 0 40px;
}

.menu {
	margin: 20px 40px 40px 40px;
}

.slideshow {
	display: none;
}
}
