

// variables

$brandColor: #F8D43C;


*, ::after, ::before {
    box-sizing: border-box;
}

a, ul li a {
    color:$brandColor;
    text-decoration: none;
    font-weight:800;
    transition: all 0.25s ease;
}
footer ul li a {font-weight:100; color:black;}

a:hover {
    transition: all 0.25s ease;
    
    text-decoration: underline;
}

.button:hover {
        text-decoration: none;

}
.clear:after, .clear:before {
    display: table;
}
.clear:after, .clear:before, .element_block .element_head::after, hr::after {
    content: "";
}
.remodal-wrapper::after, ul li::before {
    content: "";
}

html ::selection {
    background: $brandColor;
}

html {
text-size-adjust: 100%;
font-family: sans-serif;
}
body {
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
a {
    background: 0 0;
}




body, button, input, textarea {
    color: #2e3c40;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}


img, svg {
    max-width: 100%;
}

img {
	display: block;
}

aside ul, aside ul li, blockquote.no_quote, dl, ul {
    padding: 0;
}

blockquote, h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin-top: 0;
}

blockquote, form input[type=text], hr, ul li {
    position: relative;
}

ol, ul {
    line-height: 2.375rem;
    margin: 0 0 2.5rem;
}

ul {
    list-style-type: none;
    font-size: 1.125em;
}


ul li::before {
    position: absolute;
    left: 0;
    top: .75em;
    width: .25em;
    height: .25em;
	border-radius: 50%;
    background-color: $brandColor;
}

ul li {
    padding-left: 1.25em;
}


.avatar {
	text-align: center;
	display: block;
	margin: auto;
    width:90px;
    height:90px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 1;
}



	footer.content-container {
		margin-bottom:20px;
		display: block;
	}
footer::after {
	display: block;
		content: "";
		width:100px;
		height:5px;
		background:$brandColor;
		position: relative;
		bottom:-20px;
		left:50%;
		transform: translate(-50%, -0);		
	}	