.page-wrap {
    width: 100%;
}

.page-wrap, .figure_block, .figure_two_up {
    overflow: hidden;
}

.main-content {
	margin-top:50px;
}
@media (min-width: 30em){
.main-content {
	margin-top:60px;
}

}

.main-content {

}
.content-container {
    max-width: 76em;
    padding: 0 1.5em;
    margin: 0 auto;	
}

@media (min-width: 60em){

.content-container.indented {
    padding: 0 1.5*10em;
}
}

@media (min-width: 50.125em){
	header.work_head .content-container {
		padding-left: 13.4375em;
	}
}



@media (min-width: 50.125em){
	.content-container.aside_both {
		position: relative;
		padding-left: 13.9375em;
		padding-right: 20.1875em;
		margin-bottom: 7.5em;
	}
}

.article_body .content-container, .work_body .content-container {
    margin-bottom: 6.5em;
}

.section {
	margin-bottom:63px;
}

.featured {
	float:left;
	display: inline-block;
width:100%;
	margin: auto;
}
.featured img {
	margin-bottom: 40px;
	display: block
} 
