.avatar {
  text-align: center;
  display: block;
  margin: auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -moz-force-broken-image-icon: 1; }

  .testimonial.avatar {
  	margin-top:50px;
  }