.button {
  background: #F8D43C;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 20px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  transition: all .3s ease;
  box-shadow: 1px 1px 5px #ae8e06; }

.button:hover {
  color: black;
  background-color: #fadf6d;
  box-shadow: 1px 1px 5px #ae8e06; }

.button:active {
  color: white;
  background-color: black;
  box-shadow: 1px 1px 5px black; }


@include mq($until: tablet){
  .button {
    font-size: $global-font-size / 1.5;
    padding:15px;
  }
}



.alternate {
    background: transparent;
    background-color: none;
    border: none;
    box-shadow: none;
    padding: 0;
    color: #999;
    border-bottom: 1px solid #f8d43c;
    padding-bottom: 5px;

    & hover {
    background: transparent;
    background-color: none;
    border: none;
    box-shadow: none;
    padding: 0;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;


    }
}