.cta-wrap {
list-style: none;
padding:0;
}


@include mq($until:tablet){

.home.services .cta-wrap {
position: relative;
margin-top:20px;
	left:40px;
}
}

@include mq(tablet){
.home.services .cta-wrap {
padding:0 40px;
left:0;
top:120px;
z-index:1;
}
}
.cta-wrap::before {
	content: "";
	background: $brandColour;
	height:5px;
	width:35px;
	display: block;
	margin-bottom:0px;
line-height: 1;
}



.cta-wrap li {
	line-height: 1.5
}

.cta {
@include font-size($global-font-size/1.25);
@include font-weight(Ultra Bold);
text-transform: uppercase;
	color: #ccc;
	letter-spacing: 0;
}






@include mq(tablet) {
.section {
position: relative;
}	.cta-wrap  {
		padding: 0 40px;
		top:0;
	left:-235px;
	position: absolute;
	}


	.home.services .cta-wrap {
	left:auto;
		right:0px;
		top:auto;
		z-index:30;
		margin-top:40px;	
	}
}



