
.work-page .main-content {
  position: relative; }


@media (min-width: 60em) {
  .work-page .content-container.indented {
    padding: 0px 0.5em;
    width: 48%;
    margin-left: 310px; } }

.work-page aside.sidebar {
  width: 100%;
  font-size: $global-font-size / 1.25; 

padding-left: 40px;
padding-right: 40px;
}

@include mq(tablet) {
  .work-page aside.sidebar {
  position: absolute;
  right: 80px;
  width: 300px;
  padding: 0;
  top: 0;}
}


.work-page aside.sidebar ul li::before {
  display: none; }

.work-page aside h4 {
  margin: 0px; 
  padding:0;

  font-size: $global-font-size / 1.25; 

}

.work-page aside p {
  font-size: $global-font-size / 1.25; 
  margin-bottom: 10px; margin-top:0; padding: 0; }

.work-page aside ul,
.work-page aside.sidebar ul li {
  margin-bottom: 10px;
  font-size: 1em; 
list-style: none;
margin-left:0;
padding-left:0;
}

.work-page aside.branding {
  background: #EA1A2C url("../img/grunge-effect.png");
  padding: 50px;
  color: white;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 80px; }

.work-page aside.branding p {
  margin-bottom: 10px;
  font-size: 1.25em; }

.work-page aside.branding p strong {
  display: block;
  font-size: 1.5em; }

.work-page section.column {
  font-size: 0.9em;
  width: 100%;

  @include mq(tablet){
  float: left;
  display: inline-block;
    width: 45%;  
  margin-right: 5%;
  margin-bottom: 80px;
  }
 }

.work-page section.column:last-child {
  margin-right: 0; }

.work-page section.column p {
  font-size: 1em; }

@include mq(tablet){
.work-page .main section .section-title {
  float: left;
  width: 200px;
  display: inline; }

.work-page .main section div.indent {
  float: right;
  width: 80%; }


.work-page .main section,
.work-page .main aside {
  clear: both;
  margin-bottom: 80px; }
}
.requirements .column {
  font-size: 1em;
  display: block;
}

@include mq(tablet){
  .requirements .column {
  display: inline-block;
  float: left;
  width: 21%;
  margin-left: 3%; }
} 


.requirements .column ul,
.requirements .column p {
  font-size: 1.25em; }

.requirements ul li::before {
  display: none; }

.work-page .main section img {
  max-width: 100%;
  margin: auto; 
text-align: center;
display: block;
}

.work-page figcaption {
  text-align: center;
  display: block;
  color: #bbb;
  margin-top: 10px;
margin-left:auto;
   }


.blockquote,
.blockquote p {
  margin:0;
  padding:0;
}

.work-page .section-title,
.work-page .sub-section-title, {
  @include font-weight(bold);
}



.content-container {
  clear: both;
}


@include mq(tablet){
.grid-container {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
}
.work-page .grid-container {
  grid-column-gap: 80px;

}
}

@include mq($from:tablet) {
.services-grid {
//margin-bottom: 80px;
}

}

