---
layout: default
---
<article class="blog-post">

<div class="content-container indented">

      <h2 class="section-title">
        <a class="post-link" href="{{ post.url | relative_url }}">{{ page.title | escape }}</a>
      </h2>
      <span class="post-meta meta-date">{{ page.date | date_to_long_string }}</span>
      <a class="post-link" href="{{ post.url | relative_url }}"><img class="post-meta meta-masthead" src="/assets/img/blog/masthead/{{ page.masthead }}" /></a>
</div>

<div class="post post-body">
{{ content }}
</div>
</article>